.progressContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 48px;
  }
  
  .stepContainer {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .stepContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    min-width: 120px;
  }
  
  .stepIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 24px;
    border-radius: 50%;
    transition: all 0.3s;
  }
  
  .stepLabel {
    text-align: center;
    font-size: 14px;
  }
  
  .stepConnector {
    width: 60px;
    height: 2px;
    transition: background-color 0.3s;
  }


  @media (max-width: 780px) {
    .stepContent {
     min-width: 1rem;
    }
  
    .stepConnector {
      width: 1rem;
    }

    .stepLabel {
      font-size: 0.6rem;
    }
  }
  @media (max-width: 450px) {
    .progressContainer{
      gap: 1px;
    }
    .stepConnector {
      gap: 0;
    }
  }